body {
  background-image: url('./assets/background.png');
  /* color: rgb(208, 196, 197); */
  color: white;
}

.Header {
  background-color: rgba(0, 0, 0, .5);
  width: 50%;
  margin: auto;
  padding: 5px;
  border-radius: 20px;
}

.App {
  text-align: center;
}

